
/* ----------------- Banner Hero Section ------------------- */
.hero-area {
    height: 90vh;
    width: 100%;
    background-image: url(../../assets/solutek-imagess/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: center;
  }
  .bg-image{
    background: #000;
  }
  
  .first-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: rgb(255, 60, 0);
    display: flex;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.18);
    padding: 5px 10px;
    border-radius: 20px;
    width: 300px;
    border: 1px solid silver;
  }
  
  .line {
    height: 6px;
    width: 32px;
    background-color: rgb(255, 61, 0);
    border-radius: 20px;
    margin-left: -25px;
  }
  
  .heading {
    margin-left: 20px;
  }
  
  .main-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 55px;
  }
  
  .paragraph {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgb(197, 194, 194);
  }
  
  .solutek-btn {
    display: flex;
    align-items: center;
  }
  
  .explore-btn {
    background-color: rgb(255, 61, 0);
    color: white;
    height: 55px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    position: relative;
  }
  
  .solutek-hover-btn {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.24s linear;
  
  }
  
  .hover-bx {
    left: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .hover-bx2 {
    left: 25%;
  }
  
  .hover-bx3 {
    left: 50%;
  }
  
  .hover-bx4 {
    left: 75%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
  }
  
  .icon-circle {
    height: 55px;
    width: 55px;
    background-color: rgb(255, 61, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .hero-video-icon {
    margin-left: 30px;
  }
  
  .hero-video-icon>a {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: rgb(197, 194, 194);
  }
  
  .hero-thumb {
    position: relative;
    top: -100px;
    width: 100%;
  }
  
  .circle-cuts {
    height: 400px;
    width: 400px;
    margin-left: 20%;
    animation: a1 linear 10s infinite;
  }
  @keyframes a1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .hero-pic {
    position: absolute;
    top: 50px;
    left: 20%;
    /* height: 700px; */
  }