.form-step {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px; /* Adjust the max width as needed */
  margin: 0 auto; /* Center the form */
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #050a1e;
}

.form-group {
  display: block;
  align-items: center;
  gap: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 1.1rem; /* Increase font size for better readability */
}

.checkbox-input {
  width: 20px; /* Increase the size of the checkbox */
  height: 20px; /* Increase the size of the checkbox */
  margin-right: 10px; /* Space between checkbox and text */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-primary {
  background-color: #ff3d00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-secondary {
  background-color: #ccc;
  color: #050a1e;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}
