.form-step {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 900px; /* Increase max width as needed */
  margin: 0 auto; /* Center the form */
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-weight: bold;
  color: #050a1e;
}

.form-group input[type="text"],
.form-group input[type="url"],
.form-group textarea {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #dee2e6;
  color: black;
}

.checkbox-group,
.radio-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-primary {
  background-color: #000000;
  color: #050a1e;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn-secondary {
  background-color: #ccc;
  color: #050a1e;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}
